:root {
  /* Light theme colors */
  --color-text-primary: #1F2936;
  --color-text-placeholder: #798EAE;
  --color-bg-primary: #f9fafb;
  --color-bg-secondary: #ECECFD;
  --color-bg-sidebar: #FFFFFF;
  --color-border-hr: #E2E8F0;
  --color-hover-primary: #695CFE;
  --color-hover-secondary: #e2e2fb;
  --color-shadow: rgba(0, 0, 0, 0.05);
}

body {
  height: 100vh;
  background-image: url(https://ecorban.com/frontend/media/bg/bg-3.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

main {
  max-width: 1000px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
}

.pro {
  color: var(--color-text-primary); /* cinza escuro */
}

.urban {
  color: #ff6f20; /* laranja mais suave */
}

.c-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.c {
  font-size: 140px;
  color: var(--color-text-primary); /* cinza escuro */
  z-index: 1;
}

.play {
  position: absolute;
  bottom: 72px;
  left: 75%;
  transform: translateX(-20%);
  clip-path: polygon(0 0, 80% 50%, 0 100%);
  background-color: #ff6f20; /* laranja mais suave */
  width: 50px;
  height: 50px;
  z-index: 2;
}

.custom-input {
  background-color: var(--color-bg-primary); /* fundo claro */
  border: 1px solid var(--color-border-hr); /* borda suave */
  color: var(--color-text-primary); /* texto escuro */
  width: 100%; /* largura total */
  max-width: 300px; /* limite de largura */
  font-size: 16px;
  margin: 0 auto;
  padding: 12px;
}

.custom-input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--color-hover-primary); /* sombra laranja ao focar */
}

.div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon-1 {
  color: var(--color-text-primary);
  position: absolute;
  font-size: 1.5rem;
  left: 10px;
}

button {
  font-size: 16px;
  background-color: var(--color-hover-primary); /* fundo azul */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px;
  width: 100%; /* Largura 100% para alinhar com o input */
  max-width: 300px; /* Garantir que tenha o mesmo tamanho do input */
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-hover-secondary); /* fundo ao passar o mouse */
}

@media (max-width: 450px) {
  main.container {
    padding: 10px;
  }

  .logo {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .play {
    width: 20px;
    height: 20px;
    bottom: 32px;
  }

  .form-control {
    width: 100%;
    font-size: 14px;
  }

  button.w-100 {
    width: 100%;
    font-size: 14px;
  }

  .my-3.dividir {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
