<body>
  <main class="container py-5">
    <section class="row justify-content-center img">
      <div class="col-md-6 text-center">
        <div class="logo mb-4">
          <span class="pro">PRO</span>
          <span class="c-container">
            <span class="c">C</span>
            <span class="play"></span>
          </span>
          <span class="urban">RBAN</span>
        </div>

        <form>
          <div class="mb-3 div-icon">
            <i class="fas fa-user icon-1"></i>
            <input type="text" class="form-control col-8 mx-auto custom-input" placeholder="Usuário">
          </div>
          <div class="mb-3 div-icon">
            <i class="fas fa-key icon-1"></i>
            <input type="password" class="form-control col-8 mx-auto custom-input" placeholder="Senha">
          </div>
          <button class="btn btn-outline-warning w-100">Entrar</button>
        </form>

        <div class="my-3 dividir">
          <div class="linha"></div>
          <span>Ou</span>
          <div class="linha"></div>
        </div>

        <button class="btn btn-outline-warning w-100">Criar conta</button>

      </div>
    </section>

    <section class="row mt-5">
      <!-- Conteúdo extra -->
    </section>
  </main>
</body>